/* Virtuoso List Customizations */
.virtuoso-scroller::-webkit-scrollbar {
  width: 6px;
}

.virtuoso-scroller::-webkit-scrollbar-track {
  background: #17212b;
}

.virtuoso-scroller::-webkit-scrollbar-thumb {
  background: #242f3d;
  border-radius: 3px;
}

.virtuoso-scroller::-webkit-scrollbar-thumb:hover {
  background: #2b5278;
}